<p>We've all heard of extravagant benefit packages, perks, and bonuses. These things motivate people to perform and generate novel solutions. But how do you get awesome results without huge resources?</p> 
<h2>Make innovation the number one priority</h2> 
<p>Give employees 10-20% of their time back. They can do whatever they want, provided it relates to the business and they can report about what they are doing.</p> 
<h2>Measure performance, not seat time</h2> 
<p>Let employees work wherever, whenever, however, provided they perform. Make a minimum number of days they need to be in the office if you need to. People are productive when they feel like working.</p> 
<h2>Right person, right job</h2> 
<p>If a person is in a job they don't love, innovation will probably not happen. Stellar performers love what they are doing. Put career development over longevity and tirelessly help your team members find the job they want.&nbsp;</p> 
<h2>Relationships matter</h2> 
<p>A tight knit team is more savvy and productive.</p> 
